@import 'variables';

.cell
{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $grey;
    border-radius: 5px;

    &.hl-yellow
    {
        background-color: $yellow;
    }

    &.hl-red
    {
        background-color: $light-red;
    }

    &.hl-blue
    {
        background-color: $light-blue;
    }
}

.mark
{
    height: 90%;
    width: 90%;

    &.blue
    {
        color: $blue;
    }

    &.red
    {
        color: $red;
    }
}

.grid
{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    gap: 5%;
}

.board
{
    height: 25rem;
    width: 25rem;
}

.grid-overlay
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    border-radius: 5px;
    background-color: white;
}