$grey: #dfe3ea;
$blue: #219ef1;
$red: #e74c3c;
$yellow: #fff8be;
$darkgrey: #b8bdc6;

.App
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cell
{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $grey;
    border-radius: 5px;

    &.open
    {
        background-color: $yellow;
    }

    &.highlighted, &.open:hover
    {
        background-color: $darkgrey;
    }
}

.mark
{
    height: 90%;
    width: 90%;

    &.blue
    {
        color: $blue;
    }

    &.red
    {
        color: $red;
    }
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    gap: 5%;
}

.board
{
    height: 25rem;
    width: 25rem;
}