@import 'variables';

.main-page
{
    position: relative;
}

.main-block
{
    display: flex;
    gap: 1rem;
    height: 50%;
    justify-content: center;
    align-items: center;
    color: $darkgrey;

    .title
    {
        .title-ttt {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        h1
        {
            font-size: 4rem;
            margin: 0;
        }
    }

    .splitter {
        margin: 5rem;
        background-color: $darkgrey;
        padding: 1px;
        height: 100%;
        border-radius: min(50svh, 50svw);
    }
}

.menu
{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input
    {
        height: 1.5rem;
        border: 1px solid $darkgrey;
        border-radius: 5px;
        text-align: center;
    }

    button
    {
        border: 0px;
        border-radius: 5px;

        background-color: $light-blue;
        color: $darkgrey;

        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover
        {
            cursor: pointer;
            background-color: $light-red;
        }
    }
}

.joining-menu
{
    position: absolute;

    padding: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}